.hero {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
    .tag {
        display: flex;
        justify-content: center;
        .tag-content {
            padding: 12px 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background-color: #03141D;
            width: fit-content;
            border-radius: 100px;
            p {
                margin: 0;
            }
        }
    }
    .button {
        padding: 24px 32px;
        background-color: #FFFFFF;
        color: black;
        border-radius: 12px;
    }
    .cta {
        .left {
            padding: 24px 32px;
            background-color: #FFFFFF;
            color: black;
            border-radius: 12px;
        }
        .right {
            padding: 24px 32px;
            border: 1px solid #FFFFFF50;
            color: #FFFFFF;
            border-radius: 12px;
        }
    }

}

// .experience {
//     margin-top: 64px;
//     margin-bottom: 64px;
// }